@using ApiWithMvc.Models
@model Message

@{
    Layout = "_Layout";
}

<h2>Send a new message</h2>
<hr />
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.To)
        @Html.DropDownListFor(model => model.To, (IEnumerable<SelectListItem>)ViewBag.Contacts)
    </div>
    <br />
    <div>
        @Html.LabelFor(model => model.Body)
        @Html.TextAreaFor(model => model.Body)
    </div>
    <input type="submit" value="Send!" />
}

@Html.ActionLink("Back home", "Index")